<div class="modal">
  <div class="id">32940-329</div>
  <div class="main-title">Кока-кола промо юбилейный</div>
  <div class="period-agreed-block">
    <div class="period">
      <div class="title">Период действия</div>
      <div class="range">16 мар - 23 мар 2021</div>
    </div>
    <div class="agreed">
      <div class="title">Согласовано</div>
      <p class="count">19 из 19</p>
    </div>
  </div>
  <div class="read-error-block">
    <div class="read">
      <div class="title">Прочитано</div>
      <div class="range">123 из 192</div>
    </div>
    <div class="error">
      <div class="title">Ошибка в товарах</div>
      <p>Есть</p>
    </div>
  </div>
</div>
